# logs and tmp files

log/*
tmp/**/*

# IDE and tools files

.idea
.bundle
.ruby-version
.ruby-gemset
.rvmrc
.capistrano
.sass-cache

# config files

/config/deploy/staging.rb
/config/secrets.yml
/config/mainsms.yml
/config/database.yml
/config/thinking_sphinx.yml
/config/development.sphinx.yml
/config/production.sphinx.yml
/config/staging.sphinx.yml
/config/test.sphinx.yml
/config/smtp.yml
/config/ftp.yml
/config/mail_fetcher.yml
/config/resque_schedule.yml
/config/backup_config.yml
/config/app_config.yml
/config/development.sphinx.conf
/config/domain.yml
/config/schedule.rb

/rails_best_practices_output.html
/public/export/prices/inet.xls
/public/assets/*
/public/uploads/**/*
/public/system/*
/public/orders_for_restore
/public/orders_for_restore/*


dump.rdb

/backup
/.bundle
/.capistrano
/vendor/bundle
/log/*
/db/*.sqlite3
/db/sphinx/**/*
/public/orders_for_restore/**/*
/db/sphinx/*
/coverage/
/spec/tmp/*