%h1 Добро пожаловать!

%div
  Если вы зашли на эту страницу, значит ваша учетная запись активирована и вы можете внести информацию о добровольцах.
  Для этого нажмите на кнопку "Справочники менеджера" -> "Добровльцы" -> "Добавить".
%div
  На старнице "Справочники менеджера" -> "Документы" в дальнейшем можно будет распечатать письма собраниям и инструкции.
%div
  Для обратной связи и переписки будет сделан справочник "Обратная связь".
