%h1 Hello everybody!
%h2 This is my first deployed app!
%div Produced by Romhi (roman.khitroff@gmail.com)
%div
  = image_tag "001.jpg"
  -#= link_to "Выйти", destroy_user_session_path, method: :delete
  -#= link_to "Войти", new_user_session_path
