%p Здравствуйте, #{@resource.email}!
%p Кто-то от вашего имени отправил запрос о смене пароля.
%p Чтобы сменить пароль, перейдите по этой ссылке:
%p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если вы не отправляли этот запрос, пожалуйста проигнорируйте это письмо.
%br
%p (Если вы не выполните описанные выше действия, ваш пароль останется прежним)
