%p
  Здравствуйте, #{@resource.email}!
%p Ваша учетная запись была заблокирована, т.к. вы несколько раз ввели неправильные имя пользователя и пароль
%p Для разблокировки учетной записи перейдите, пожалуйста, по этой ссылке:
%p= link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token)
